@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  /* ITT A TRÜKK: Fehér (#ffffff) helyett legyen a márka feketéje vagy sima fekete */
  background-color: #ffffff !important; 
  background-image: none !important;
}

/* Biztonsági tisztítás */
body::before,
body::after {
  display: none !important;
  content: none !important;
}